.reveal pre {
  width: 100%;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 59vh !important;
  opacity: 0.90;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: black;
  padding: 1px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

.reveal p span.slide-title {
  color: white;
  background: black;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

#title-footer {
  color: white;
  background: black;
  opacity: 0.65 !important;
}

#title-footer p.footer-hard {
    color: #b6b6b6;
}

#title-footer p.footer-fade {
  color: #b6b6b6;
}

/*
.hljs {
  background: none;
}
*/
