body {
  background: #000;
  background-color: #000;
}

html:-webkit-full-screen-ancestor {
  background: #000;
  background-color: #000;
}

html:-moz-full-screen-ancestor {
  background: #000;
  background-color: #000;
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  /* background: #54140c; */
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

