body {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  /* opacity: 0.90; */
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: #54140c;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

#title-footer {
  color: white;
  background: black;
  opacity: 0.65 !important;
}

#title-footer p.footer-hard {
    color: #b6b6b6;
}

#title-footer p.footer-fade {
  color: #b6b6b6;
}

/*
.hljs {
  background: none;
}
*/
