.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

/* .font-londrina-outline h1 { font-family: "Londrina-Outline" } */

#pro-background {
    opacity: 0.15 !important;
}

#pro-logo {
    max-height: 3em;
}

#pro-title {
    font-size: 1.2em;
}

#pro-subtitle {
    color: lightgray;
    font-size: 1.6em;
}


