.reveal pre {
  box-shadow: none;
}

.bigcode {
  font-size: 1.3em !important;
  line-height: 1.3 !important;
  background: none !important;
}

.smallcode {
  font-size: 0.8em !important;
  line-height: 0.8 !important;
}

.stretchcode {
  font-size: 1.2em !important;
  line-height: 1.2 !important;
  background: none !important;
}

