.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.reveal section img {
    margin: 0;
    border: none;
    box-shadow: none;
}

.north img, .north-west img, .north-east img {
  width: 200px;
  height: 160px;
}

.west img, .epicenter img, .eastold img {
  width: 200px;
  height: 160px;
}

.south img, .south-west img, .south-east img {
  width: 200px;
  height: 160px;
}

.focus img  {
  width: 70%;
  height: 80%;
}

.everyone {
  font-size: 1.2em !important;
  font-variant : small-caps !important;
}

.magic img {
  width: 40%;
  height: 70%;
}

#gp-logo img {
  max-height: 1.5em;
  max-width: none;
}
