.reveal p span.fa-byline {
  color : gray;
  text-transform: none;
}

.reveal p.fa-byline {
  color : gray;
  text-transform: none;
}

.reveal span.fa-byline {
  color : gray;
  text-transform: none;
}

span.fa-byline {
  color : gray;
  text-transform: none;
}

.reveal ul {
  list-style: none;
}

.fa-huge {
    font-size : 15em;
}
